@page
@model aspcore.Pages.IndexModel
@{
    ViewData["Title"] = "Home page.";
}
<h1>Bug List</h1>
<table class="table">
    <thead>
        <tr scope="row">
            <td>ID</td>
            <td>Name</td>
            <td>Desc.</td>
            <td>IsDone</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.bugs)
            {
                <tr>
                    <td>@bug.id</td>
                    <td>@bug.name</td>
                    <td>@bug.description</td>
                    <td>@bug.isDone</td>
                </tr>  
            } 
  
    </tbody>
    <tfoot>
        count of records: @Model.bugs.Count();
    </tfoot>
</table>


     