@page
@model aspcore.Pages.IndexModel
@{
    ViewData["Title"] = "Home page.";
}

 <h1>Hello, world! current Year is : @Model.currentYear</h1>
      <ul>
        
      @for (int i = 0; i < 10; i++)
      {
        <i class="fa-solid fa-user">@i</i>  
      }
      </ul>
<button class="btn btn-success">click me</button>
<table class="table">
    <thead>
        <tr scope="row">
            <td>ID</td>
            <td>Name</td>
            <td>Desc.</td>
            <td>IsDone</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.bugs.sampleBugs)
            {
                <tr>
                    <td>@bug.id</td>
                    <td>@bug.name</td>
                    <td>@bug.description</td>
                    <td>@bug.isDone</td>
                </tr>  
            } 
  
    </tbody>
    <tfoot>
        count of records: @Model.bugs.sampleBugs.Count();
    </tfoot>
</table>


     